#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
#nav{
    text-align: center;
}
#page-container {
  position: relative;
  min-height: 100vh;
}
.nav-link{
  margin-top: 15px;
}

.nav-dropdown{
  margin-top: 1px;
}

.link-font{
  font-family: Khula, sans-serif;
  color: #2F52AD;
}

.router-link-active {
  color: #8a8dba;
}

.carousel-item img {
  height:500px!important ;
}

.footer {
  background-color: #F3F3F3;
  padding-top: 10px;
  padding: 0.5em;
  margin-top: auto;

}

.form-container {
  width: 100%;
}

.multiselect__tag,
.multiselect__option--highlight
{
  background: #2f52ad;
}

.multiselect__tag-icon:hover
{
  background: #8a8dba;
}

.multiselect__tag-icon::after
{
  color: #fdfdfd;
}

$hub: #2f52ad !default;

$theme-colors: 
(
    hub: $hub,
);


@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/bootstrap-vue/src/index.scss';